@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #33313b;
}

.text-container {
  text-align: center;
  padding: 2rem;
  color: #fff;
}

.text-container h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.text-container p {
  font-weight: 200;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registreTrick {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
}

.registreTrick h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 350;
  margin-bottom: 10px;
}

.formTrick {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 600px;
  height: 300px;
  padding: 2rem;
  border-radius: 5px;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .form-group {
  margin-bottom: 15px;
  width: 100%;
}

form .form-group label {
  font-weight: bold;
  font-size: 15px;
}

form .form-group input {
  outline: none;
  width: 200px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #7e7c86;
}

form .form-group select {
  width: 150px;
  border: 1px solid #7e7c86;
  margin-right: 15px;
  outline: none;
}

form .form-group button {
  margin: 15px 0;
  width: 100%;
  padding: 7px;
  border: none;
  background: #33313b;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

form .form-group button:hover {
  background: #42404d;
}

.viewTricks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.viewTricks h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.filters label {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.viewTricks .filters input,
select {
  outline: none;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

#listTricks {
  width: 600px;
  height: 500px;
  margin: 10px 0;
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
}

.trick-card {
  border: 1px solid #52505c;
  border-radius: 5px;
  padding: 1rem;
  margin: 10px 0;
}

.trick-card h3 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.trick-card p {
  font-size: 12px;
  margin: 5px 0;
}

.cardStatus {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardStatus .dificult {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100px;
  font-weight: bold;
  padding: 0.3rem;
}
.cardStatus select {
  border-radius: 10px;
}
